<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="template.css" type="text/css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <div class="container-fluid navigation">
                <div class="navigation__div">
                    <img src="foreveralone.png" class="navigation__title">
                </div>
                <div class="navigation__div">
                    <form class="navigation__search">
                        <input type="text" name="value" class="navigation__search__input"/>
                        <button type="submit" class="navigation__search__button"><i class="fas fa-search"></i></button>
                    </form>
                    <img src="https://i.pinimg.com/originals/1b/b8/c2/1bb8c2a02aee9737883fef2040523257.jpg" class="navigation__profile">
                </div>
        </header>
        <div class="sidenavigation">
            <div class="sidenavigation__div">
                <img src="https://i.pinimg.com/originals/1b/b8/c2/1bb8c2a02aee9737883fef2040523257.jpg" class="sidenavigation__profile">
                <h6 class="sidenavigation__title">Giulia Padovani</h6>
            </div>
            <div class="sidenavigation__div sidenavigation__links">
                <i class="fas fa-couch sidenavigation__icon"></i>
                <h6 class="sidenavigation__text">Encontros</h6>
            </div>
            <div class="sidenavigation__div sidenavigation__links">
                <i class="fas fa-users sidenavigation__icon"></i>
                <h6 class="sidenavigation__text">Eventos&nbsp&nbsp</h6>
            </div>
            <div class="sidenavigation__div sidenavigation__links">
                <i class="fas fa-heart sidenavigation__icon"></i>
                <h6 class="sidenavigation__text">Casamento</h6>
            </div>
            <div class="sidenavigation__div sidenavigation__links">
                <i class="fas fa-file sidenavigation__icon"></i>
                <h6 class="sidenavigation__text">Relatórios</h6>
            </div>
        </div>
        <section class="content">
            <div class="content__mainbox">
                <div class="mainbox__title">
                    <i class="fas fa-couch mainbox__icon"></i><h6 class="mainbox__h6">Buttons</h6>
                </div>
                <div class="mainbox__text">
                    <button class="box__button box__button--filled">Filled Button</button>
                    <button class="box__button box__button--outlined">Outlined Button</button></br></br></br>
                    
                </div>
            </div>
            <div class="content__sidebox">
                <div class="sidebox__title">
                    <i class="fas fa-heart sidebox__icon"></i><h6 class="sidebox__h6">Comments</h6>
                </div>
                <div class="sidebox__text">
                    <p class="sidebox__p">Utilize essa estrutura para colocar o conteúdo das features. 
                    Utilize a classe do respectivo botão que você quer usar ou apenas 
                    copie e cole a tag com a classe desejada.</p>
                </div>
            </div>
            <div class="content__mainbox">
                <div class="mainbox__title">
                    <i class="fas fa-users mainbox__icon"></i><h6 class="mainbox__h6">Buttons</h6>
                </div>
                <div class="mainbox__text">
                </div>
            </div>
            <div class="content__sidebox">
                <div class="sidebox__title">
                    <i class="fas fa-file mainbox__icon"></i><h6 class="mainbox__h6">Comments</h6>
                </div>
                <div class="sidebox__text">
                </div>
            </div>
        </section>
    </body>
</html>
